Repository pradeepmouli/unacy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore(format): standardize .prettierignore, fix source drift, normalize pnpm to 10.32.0
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .prettierignore
  package.json
Due: oxfmt --no-error-on-unmatched-pattern

docs: scaffold VitePress + TypeDoc docs site at apps/docs
  .github/workflows/docs.yml
  README.md
  apps/docs/.gitignore
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/typedoc.json
  apps/docs/guide/getting-started.md
  apps/docs/guide/installation.md
  apps/docs/guide/usage.md
  apps/docs/index.md
  apps/docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: remove legacy docs scripts and orphan typedoc output
  package.json
  tsconfig.typedoc.json
  typedoc.json
Due: oxfmt --no-error-on-unmatched-pattern

docs(readme): rewrite — strip template residue, add overview and related projects
  README.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: install @to-skills/vitepress for docs extraction
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

docs: apply to-skills JSDoc conventions to public API
  apps/docs/.vitepress/typedoc.json
  packages/core/src/converters.ts
  packages/core/src/errors.ts
  packages/core/src/formatters.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  packages/core/src/utils/graph.ts
  packages/core/src/utils/validation.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: upgrade spec-kit to v0.7.1 with native workflow engine
  .claude/skills/speckit-analyze/SKILL.md
  .claude/skills/speckit-checklist/SKILL.md
  .claude/skills/speckit-clarify/SKILL.md
  .claude/skills/speckit-constitution/SKILL.md
  .claude/skills/speckit-implement/SKILL.md
  .claude/skills/speckit-plan/SKILL.md
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .claude/skills/speckit-taskstoissues/SKILL.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/doctor/scripts/bash/doctor.sh
  .specify/extensions/review/scripts/bash/detect-changed-files.sh
  .specify/extensions/workflows/README.md
  .specify/extensions/workflows/extensions/README.md
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/claude/scripts/update-context.ps1
  .specify/integrations/claude/scripts/update-context.sh
  .specify/integrations/speckit.manifest.json
  .specify/workflows/speckit/workflow.yml
  .specify/workflows/workflow-registry.json
Due: oxfmt --no-error-on-unmatched-pattern

chore(seo): add OG meta, llms.txt, sitemap, fix homepage, robots.txt
  apps/docs/.vitepress/config.ts
  apps/docs/.vitepress/typedoc.json
  apps/docs/public/robots.txt
  package.json
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix(docs): add typedoc-plugin-to-skills to docs devDeps for llms.txt generation
  apps/docs/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

fix(docs): correct llmsTxtOutDir path for VitePress public dir
  apps/docs/.vitepress/typedoc.json
  apps/docs/public/llms-full.txt
  apps/docs/public/llms.txt
  apps/docs/skills/unacy-docs/SKILL.md
  apps/docs/skills/unacy-docs/references/classes.md
  apps/docs/skills/unacy-docs/references/functions.md
  apps/docs/skills/unacy-docs/references/types.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: install optimize extension + add copilot/claude context files
  .github/copilot-instructions.md
  .specify/extensions/optimize/.gitignore
  .specify/extensions/optimize/CHANGELOG.md
  .specify/extensions/optimize/LICENSE
  .specify/extensions/optimize/README.md
  .specify/extensions/optimize/catalog-entry.json
  .specify/extensions/optimize/commands/speckit.optimize.learn.md
  .specify/extensions/optimize/commands/speckit.optimize.run.md
  .specify/extensions/optimize/commands/speckit.optimize.tokens.md
  .specify/extensions/optimize/config-template.yml
  .specify/extensions/optimize/extension.yml
Due: oxfmt --no-error-on-unmatched-pattern

chore: reinstall spec-kit extensions with v0.7.1 skill scaffolding
  .agents/commands/speckit.optimize.learn.md
  .agents/commands/speckit.optimize.run.md
  .agents/commands/speckit.optimize.tokens.md
  .agents/skills/speckit-optimize-learn/SKILL.md
  .agents/skills/speckit-optimize-run/SKILL.md
  .agents/skills/speckit-optimize-tokens/SKILL.md
  .claude/skills/speckit-optimize-learn/SKILL.md
  .claude/skills/speckit-optimize-run/SKILL.md
  .claude/skills/speckit-optimize-tokens/SKILL.md
  .gemini/commands/speckit.optimize.learn.toml
  .gemini/commands/speckit.optimize.run.toml
  .gemini/commands/speckit.optimize.tokens.toml
  .github/agents/speckit.optimize.learn.agent.md
  .github/agents/speckit.optimize.run.agent.md
  .github/agents/speckit.optimize.tokens.agent.md
  .github/prompts/speckit.optimize.learn.prompt.md
  .github/prompts/speckit.optimize.run.prompt.md
  .github/prompts/speckit.optimize.tokens.prompt.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/review/scripts/bash/detect-changed-files.sh
  .specify/extensions/workflows/README.md
  .specify/extensions/workflows/extension.yml
  .specify/extensions/workflows/extensions/README.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: reinstall all extensions with v0.7.1 skill scaffolding (close gaps)
  .agents/commands/speckit.doctor.md
  .agents/commands/speckit.verify.run.md
  .agents/skills/speckit-doctor-check/SKILL.md
  .agents/skills/speckit-doctor/SKILL.md
  .agents/skills/speckit-drift/SKILL.md
  .agents/skills/speckit-sync-analyze/SKILL.md
  .agents/skills/speckit-sync-apply/SKILL.md
  .agents/skills/speckit-sync-backfill/SKILL.md
  .agents/skills/speckit-sync-conflicts/SKILL.md
  .agents/skills/speckit-sync-propose/SKILL.md
  .agents/skills/speckit-verify-run/SKILL.md
  .claude/skills/speckit-doctor-check/SKILL.md
  .claude/skills/speckit-doctor/SKILL.md
  .claude/skills/speckit-drift/SKILL.md
  .claude/skills/speckit-sync-analyze/SKILL.md
  .claude/skills/speckit-sync-apply/SKILL.md
  .claude/skills/speckit-sync-backfill/SKILL.md
  .claude/skills/speckit-sync-conflicts/SKILL.md
  .claude/skills/speckit-sync-propose/SKILL.md
  .claude/skills/speckit-verify-run/SKILL.md
  .gemini/commands/speckit.verify.run.toml
  .github/agents/speckit.doctor.agent.md
  .github/agents/speckit.doctor.check.agent.md
  .github/agents/speckit.verify.agent.md
  .github/agents/speckit.verify.run.agent.md
  .github/prompts/speckit.verify.prompt.md
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/doctor/scripts/bash/doctor.sh
  .specify/extensions/verify/.gitignore
  .specify/extensions/verify/CHANGELOG.md
  .specify/extensions/verify/README.md
  .specify/extensions/verify/commands/verify.md
  .specify/extensions/verify/extension.yml
  .specify/extensions/verify/scripts/bash/load-config.sh
  .specify/extensions/verify/scripts/powershell/load-config.ps1
Due: oxfmt --no-error-on-unmatched-pattern

fix(ci): pin pnpm to 10.32.0 in all workflows
  .github/workflows/auto-approve-deps.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

chore(deps): update dependencies to latest
  apps/docs/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

Revert "chore(deps): update dependencies to latest"
  apps/docs/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

ci: add automated dep-update and cascade-deps workflows
  .github/workflows/cascade-deps.yml
  .github/workflows/dep-update.yml
Due: none

ci: change dep-update to daily schedule
  .github/workflows/dep-update.yml
Due: none

ci: stagger cascade to 5am ET (before dep-update at 6am)
  .github/workflows/cascade-deps.yml
Due: none

chore: bump typedoc-plugin-to-skills to ^1.3.0
  apps/docs/package.json
  package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: pin rollup >=4.59.0 to fix GHSA-mw96-cpmx-2vgc + update lockfile
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

chore: bump typedoc-plugin-to-skills to ^1.3.0 (#53)
  .changeset/1777046797.md
  apps/docs/package.json
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

fix(docs): add ignoreDeadLinks and fix cascade-deps workflow
  .github/workflows/cascade-deps.yml
  apps/docs/.vitepress/config.ts
Due: oxfmt, oxlint --fix

ci: auto-merge github_actions dependabot bumps immediately
  .github/workflows/auto-approve-deps.yml
Due: none

chore: update spec-kit + extensions to latest
  .claude/skills/speckit-specify/SKILL.md
  .claude/skills/speckit-tasks/SKILL.md
  .specify/extensions/.registry
  .specify/extensions/enabled.conf
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/claude.manifest.json
  .specify/integrations/speckit.manifest.json
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/setup-tasks.sh
Due: oxfmt --no-error-on-unmatched-pattern

chore: add graphify knowledge graph config
  CLAUDE.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: pin @typescript/native-preview to beta tag instead of dev snapshot
  apps/docs/package.json
  package.json
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore(deps): update dependencies to latest
  apps/docs/package.json
  apps/docs/skills/unacy-docs/SKILL.md
  apps/docs/skills/unacy-docs/references/classes.md
  apps/docs/skills/unacy-docs/references/config.md
  apps/docs/skills/unacy-docs/references/types.md
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  public/llms-full.txt
  public/llms.txt
Due: oxfmt --no-error-on-unmatched-pattern

chore: exclude AI tooling artifacts from master
  .gitattributes
  .gitignore
Due: none

chore: allow AI tooling artifacts to be tracked on develop
  .gitignore
Due: none

docs: regenerate API docs and LLM context files after dependency update
  apps/docs/skills/unacy-docs/SKILL.md
  apps/docs/skills/unacy-docs/references/classes.md
  apps/docs/skills/unacy-docs/references/config.md
  apps/docs/skills/unacy-docs/references/types.md
  public/llms-full.txt
  public/llms.txt
Due: oxfmt --no-error-on-unmatched-pattern

chore(deps): update all packages to latest via pnpm update -r -L
  apps/docs/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

ci: run checks on develop branch + PRs targeting develop
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: set changeset baseBranch to develop
  .changeset/config.json
Due: oxfmt --no-error-on-unmatched-pattern

chore(deps): update all packages to latest (#80)
  .changeset/config.json
  .github/workflows/auto-approve-deps.yml
  .gitignore
  apps/docs/package.json
  apps/docs/skills/unacy-docs/SKILL.md
  apps/docs/skills/unacy-docs/references/classes.md
  apps/docs/skills/unacy-docs/references/config.md
  apps/docs/skills/unacy-docs/references/types.md
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  public/llms-full.txt
  public/llms.txt
Due: oxfmt --no-error-on-unmatched-pattern

Path conditions:
  oxfmt: any of: *.{ts,tsx,js,jsx}
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
  oxfmt --no-error-on-unmatched-pattern: any of: *.{json,md}
