Repository pradeepmouli/unacy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

feat: add support for non-primitive types in demo — includes enums, classes, records, and tuples
  packages/core/demo-non-primitive-types.ts
  packages/core/demo-unit-accessor.ts
  packages/core/src/converters.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/type-inference.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

Update types.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

chore: add changeset for minor release
  .changeset/1772080332.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: update release workflow and README examples for clarity and consistency
  packages/core/README.md
  packages/core/demo-single-unit-register.ts
  packages/core/src/__tests__/registry.test.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: add clean (dist+tsbuildinfo) and prepublishOnly scripts
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

fix: prevent security audit from failing on vulnerabilities found
  .github/workflows/security-audit.yml
Due: none

ci: standardize workflows and enable OIDC provenance publishing
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: oxfmt --no-error-on-unmatched-pattern

fix: add repository URL to package.json for npm provenance validation
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

ci: auto-merge changeset version PR after CI passes
  .github/workflows/release.yml
Due: none

ci: auto-generate changeset on PR open/update
  .github/workflows/changeset.yml
Due: none

ci: remove duplicate softprops release — changesets/action handles tags and releases
  .github/workflows/release.yml
Due: none

fix: use jq instead of node -p in changeset workflow
  .github/workflows/changeset.yml
Due: none

chore: test CI/CD automation pipeline
  README.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: test CI/CD automation pipeline (#27)
  .changeset/1773084517.md
  README.md
Due: oxfmt --no-error-on-unmatched-pattern

ci: run checks on changeset-release branches for auto-merge
  .github/workflows/ci.yml
Due: none

ci: broaden pull_request trigger, exclude sub** branches
  .github/workflows/ci.yml
Due: none

ci: use branches-ignore for push trigger
  .github/workflows/ci.yml
Due: none

ci: remove redundant pull_request trigger
  .github/workflows/ci.yml
Due: none

chore: add Copilot review instructions for code-only reviews
  .github/copilot-review-instructions.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: add typedoc-plugin-to-skills dependency
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

chore: add typedoc-plugin-to-skills, regenerate skills
  package.json
  pnpm-lock.yaml
  skills/unacy-monorepo/SKILL.md
  skills/unacy-monorepo/references/classes.md
  skills/unacy-monorepo/references/functions.md
  skills/unacy-monorepo/references/types.md
  tsconfig.typedoc.json
  typedoc.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: add GitHub Pages docs deployment workflow
  .github/workflows/docs.yml
  .gitignore
  package.json
Due: oxfmt --no-error-on-unmatched-pattern

feat: add speckit.review.slop — AI slop detection agent
  .specify/extensions/review/commands/run.md
  .specify/extensions/review/commands/slop.md
  .specify/extensions/review/extension.yml
Due: oxfmt --no-error-on-unmatched-pattern

chore: register speckit.review.slop in .claude, .agents, .github
  .agents/commands/speckit.review.slop.md
  .claude/commands/speckit.review.slop.md
  .claude/skills/speckit-review.slop/SKILL.md
  .github/agents/speckit.review.slop.agent.md
  .github/prompts/speckit.review.slop.prompt.md
Due: oxfmt --no-error-on-unmatched-pattern

chore(deps): update typedoc-plugin-to-skills to 0.4.2
  package.json
  pnpm-lock.yaml
  skills/unacy-monorepo/references/classes.md
  skills/unacy-monorepo/references/functions.md
  skills/unacy-monorepo/references/types.md
Due: oxfmt --no-error-on-unmatched-pattern

fix(ci): use pull_request_target so GITHUB_TOKEN has write access for dependabot PRs
  .github/workflows/auto-approve-deps.yml
Due: none

chore: phase 1 public-consumption sweep
  .github/FUNDING.yml
  CODE_OF_CONDUCT.md
  README.md
  package.json
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: remove unused template bootstrap scripts
  scripts/TEMPLATE_INITIALIZATION.md
  scripts/bootstrap-speckit.sh
  scripts/create-package.sh
  scripts/init-template.sh
  scripts/rename-scope.sh
  scripts/verify-setup.sh
Due: oxfmt --no-error-on-unmatched-pattern

Path conditions:
  oxfmt: any of: *.{ts,tsx,js,jsx}
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
  oxfmt --no-error-on-unmatched-pattern: any of: *.{json,md}
