Repository pradeepmouli/unacy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["oxfmt", "oxlint --fix"],
  "*.{json,md}": ["oxfmt --no-error-on-unmatched-pattern"]
}

chore: Update implementation plan for Unacy Core Conversion Library
  specs/001-unacy-core/plan.md
Due: oxfmt --no-error-on-unmatched-pattern

Update graph.ts
  packages/core/src/utils/graph.ts
Due: oxfmt, oxlint --fix

feat: Enhance type safety and unit conversion functionality
  README.md
  packages/core/README.md
  packages/core/demo-unit-accessor.ts
  packages/core/module-structure-guide.ts
  packages/core/namespace-export-demo.ts
  packages/core/src/__tests__/formatters.test.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/types.test.ts
  packages/core/src/converters.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  packages/core/type-safety-demo.ts
  specs/001-unacy-core/spec.md
  specs/001-unacy-core/tasks.md
  src/index.test.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: Clean up formatting in specification and task documents
  specs/001-unacy-core/spec.md
  specs/001-unacy-core/tasks.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: Upgrade pnpm version to 10 in workflows
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: Ensure package is not marked as private in package.json
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

fix: Update package name from @unacy/core to unacy
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

refactor: Remove Dockerfile and update README for installation and usage instructions
  Dockerfile
  README.md
  packages/core/package.json
  pnpm-lock.yaml
  src/index.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: Update build and type-check scripts to use tsgo and modify devDependencies
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: Bump version to 0.1.1 and add CHANGELOG for patch changes
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

fix: Update @typescript/native-preview to version 7.0.0-dev.20260107.1 in package.json and pnpm-lock.yaml
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

fix: Update @typescript/native-preview to version 7.0.0-dev.20260108.1 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

fix: Add changeset for type fixes in unacy
  .changeset/cyan-fans-carry.md
Due: oxfmt --no-error-on-unmatched-pattern

fix: Update version to 0.1.2 and add type fixes to CHANGELOG
  .changeset/cyan-fans-carry.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

feat: Enhance unit conversion API with new types and relax converters
  packages/core/demo-unit-accessor.ts
  packages/core/src/converters.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

feat: add metadata support to unit accessors
  packages/core/demo-unit-accessor.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/converters.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  specs/enhance/001-metadata-units-via/enhancement.md
  specs/enhance/001-metadata-units-via/spec.md
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: update tests to use register() instead of deprecated registerBidirectional()
  packages/core/src/__tests__/registry.test.ts
Due: oxfmt, oxlint --fix

Update packages/core/src/registry.ts
  packages/core/src/registry.ts
Due: oxfmt, oxlint --fix

Update packages/core/demo-unit-accessor.ts
  packages/core/demo-unit-accessor.ts
Due: oxfmt, oxlint --fix

Update packages/core/src/converters.ts
  packages/core/src/converters.ts
Due: oxfmt, oxlint --fix

fix(ci): remove pnpm version conflict
  .github/workflows/ci.yml
Due: none

fix(ci): use pnpm exec instead of pnpm dlx for size-limit
  .github/workflows/ci.yml
Due: none

fix: remove non-existent utils package from size-limit config
  .size-limit.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: update version to 0.2.0 and add changelog entry
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

fix: update npm publish command to filter out private packages
  .github/workflows/npm-publish.yml
Due: none

docs: update README with enhanced type safety features and recent improvements
  README.md
Due: oxfmt --no-error-on-unmatched-pattern

fix: correct metadata and registration API in README examples
  README.md
Due: oxfmt --no-error-on-unmatched-pattern

Update README.md
  README.md
Due: oxfmt --no-error-on-unmatched-pattern

docs: add Claude skills documentation
  .claude/skills/changesets.md
  .claude/skills/executing-plans.md
  .claude/skills/git-workflow.md
  .claude/skills/github-actions.md
  .claude/skills/systematic-debugging.md
  .claude/skills/test-driven-development.md
  .claude/skills/testing-vitest.md
  .claude/skills/ts-monorepo-dev.md
  .claude/skills/using-git-worktrees.md
  .claude/skills/writing-plans.md
  commitlint.config.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

feat: implement callable unit accessors for cleaner type-safe conversions
  .claude/skills/git-workflow.md
  .claude/skills/github-actions.md
  .claude/skills/testing-vitest.md
  .claude/skills/ts-monorepo-dev.md
  packages/core/CALLABLE_ACCESSORS.md
  packages/core/README.md
  packages/core/demo-callable-accessors.ts
  packages/core/demo-unit-accessor.ts
  packages/core/namespace-export-demo.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/registry.ts
  packages/core/verify-callable-types.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: remove unnecessary blank line in UnitAccessor type signature
  packages/core/CALLABLE_ACCESSORS.md
Due: oxfmt --no-error-on-unmatched-pattern

chore: update version to 0.3.0 and add changelog entry for callable units
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: update dependencies and module resolution settings
  .codex/skills
  .github/skills
  package.json
  packages/core/demo-callable-accessors.ts
  packages/core/demo-unit-accessor.ts
  packages/core/namespace-export-demo.ts
  packages/core/src/__tests__/converters.test.ts
  packages/core/src/__tests__/errors.test.ts
  packages/core/src/__tests__/formatters.test.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/types.test.ts
  packages/core/src/converters.ts
  packages/core/src/formatters.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/utils/graph.ts
  packages/core/src/utils/validation.ts
  packages/core/type-safety-demo.ts
  packages/core/verify-callable-types.ts
  pnpm-lock.yaml
  tsconfig.json
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: update version to 0.4.0 and add changelog entry for minor changes
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore(release): bump version to 0.5.0 and update dependencies
  commitlint.config.ts
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: update changelog for version 0.6.0 and enhance type safety across converters and registry
  packages/core/CHANGELOG.md
  packages/core/demo-callable-accessors.ts
  packages/core/demo-unit-accessor.ts
  packages/core/package.json
  packages/core/src/__tests__/converters.test.ts
  packages/core/src/__tests__/formatters.test.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/types.test.ts
  packages/core/src/converters.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  packages/core/src/utils/validation.ts
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: enhance type safety in unit registries and converters, add metadata support
  packages/core/demo-unit-accessor.ts
  packages/core/namespace-export-demo.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

feat: initialize enhancement workflow for strongly typed unit metadata
  specs/enhance/002-support-strongly-typed/enhancement.md
  specs/enhance/002-support-strongly-typed/spec.md
Due: oxfmt --no-error-on-unmatched-pattern

docs: add clarification on metadata type default and tag system integration
  specs/enhance/002-support-strongly-typed/enhancement.md
Due: oxfmt --no-error-on-unmatched-pattern
