Repository pradeepmouli/unacy: changes, and which lint-staged commands are due for each by the changed paths.
All: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

docs: clarify metadata behavior in arithmetic operations
  specs/enhance/002-support-strongly-typed/enhancement.md
Due: oxfmt --no-error-on-unmatched-pattern

docs: add clarifications on type inference and registry patterns
  specs/enhance/002-support-strongly-typed/enhancement.md
Due: oxfmt --no-error-on-unmatched-pattern

docs: add final clarification on registry storage strategy
  specs/enhance/002-support-strongly-typed/enhancement.md
Due: oxfmt --no-error-on-unmatched-pattern

docs: add concrete example of direct metadata access pattern
  specs/enhance/002-support-strongly-typed/enhancement.md
Due: oxfmt --no-error-on-unmatched-pattern

docs: add requirement for direct metadata accessor accessibility
  specs/enhance/002-support-strongly-typed/enhancement.md
Due: oxfmt --no-error-on-unmatched-pattern

feat: complete implementation plan for strongly typed metadata
  CLAUDE.md
  specs/enhance/002-support-strongly-typed/contracts/metadata-api.md
  specs/enhance/002-support-strongly-typed/data-model.md
  specs/enhance/002-support-strongly-typed/plan.md
  specs/enhance/002-support-strongly-typed/quickstart.md
  specs/enhance/002-support-strongly-typed/research.md
Due: oxfmt --no-error-on-unmatched-pattern

feat: generate executable tasks for strongly typed metadata
  specs/enhance/002-support-strongly-typed/tasks.md
Due: oxfmt --no-error-on-unmatched-pattern

feat: add BaseMetadata type and update WithUnits type system
  packages/core/src/__tests__/metadata.test.ts
  packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

docs: update all spec artifacts for branded type architecture
  specs/enhance/002-support-strongly-typed/enhancement.md
  specs/enhance/002-support-strongly-typed/plan.md
  specs/enhance/002-support-strongly-typed/quickstart-original.md
  specs/enhance/002-support-strongly-typed/quickstart.md
  specs/enhance/002-support-strongly-typed/tasks.md
Due: oxfmt --no-error-on-unmatched-pattern

feat: simplify WithUnits signature to extract unit name from metadata
  packages/core/src/__tests__/converters.test.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/test-metadata.ts
  packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/__tests__/types.test.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  specs/enhance/002-support-strongly-typed/quickstart.md
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: resolve TypeScript strict mode errors in registry tests
  packages/core/src/__tests__/registry.test.ts
Due: oxfmt, oxlint --fix

feat: expose metadata properties in UnitAccessor type system
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/registry.ts
Due: oxfmt, oxlint --fix

Update packages/core/src/registry.ts
  packages/core/src/registry.ts
Due: oxfmt, oxlint --fix

Update packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/__tests__/type-inference.test.ts
Due: oxfmt, oxlint --fix

docs: update examples to use metadata-based WithUnits type system
  packages/core/README.md
  packages/core/demo-callable-accessors.ts
  packages/core/demo-unit-accessor.ts
  packages/core/module-structure-guide.ts
  packages/core/namespace-export-demo.ts
  packages/core/type-safety-demo.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

refactor: rename metadata constants for unit types to improve clarity
  packages/core/demo-unit-accessor.ts
Due: oxfmt, oxlint --fix

refactor: update metadata handling to use TypedMetadata for improved type safety
  packages/core/README.md
  packages/core/demo-callable-accessors.ts
  packages/core/demo-single-unit-register.ts
  packages/core/demo-unit-accessor.ts
  packages/core/namespace-export-demo.ts
  packages/core/package.json
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/test-metadata.ts
  packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  packages/core/type-safety-demo.ts
  packages/core/verify-callable-types.ts
  tsconfig.json
  vitest.config.ts
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: resolve lint warnings from TypedMetadata refactor
  packages/core/demo-callable-accessors.ts
  packages/core/demo-single-unit-register.ts
  packages/core/demo-unit-accessor.ts
  packages/core/namespace-export-demo.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/converters.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  packages/core/type-safety-demo.ts
  packages/core/verify-callable-types.ts
Due: oxfmt, oxlint --fix

refactor: update unit registration to use metadata objects for improved clarity and consistency
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/registry.ts
Due: oxfmt, oxlint --fix

refactor: update UnitAccessor type to use UnitsOf<From> instead of ExtractMetadata<From>
  packages/core/src/registry.ts
Due: oxfmt, oxlint --fix

feat: add demo files and update linting configuration; update dependencies and fix type inference
  .eslintignore
  oxlintrc.json
  package.json
  packages/core/demo-callable-accessors.ts
  packages/core/package.json
  packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/converters.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

chore: update version to 0.7.0 and add changelog entry for typed metadata support
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: oxfmt --no-error-on-unmatched-pattern

feat: introduce TestEnum and update unit metadata types for enhanced type safety
  packages/core/demo-single-unit-register.ts
  packages/core/src/registry.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

feat: enhance type safety for TemperatureMetadata and simplify ToPrimitiveType definition
  packages/core/src/__tests__/type-inference.test.ts
  packages/core/src/types.ts
Due: oxfmt, oxlint --fix

feat: add skills for TypeScript monorepo development, Git worktrees usage, and writing implementation plans
  .agent/skills/changesets.md
  .agent/skills/executing-plans.md
  .agent/skills/git-workflow.md
  .agent/skills/github-actions.md
  .agent/skills/spec-kit.md
  .agent/skills/systematic-debugging.md
  .agent/skills/test-driven-development.md
  .agent/skills/testing-vitest.md
  .agent/skills/ts-monorepo-dev.md
  .agent/skills/using-git-worktrees.md
  .agent/skills/writing-plans.md
  .gemini/skills/changesets.md
  .gemini/skills/executing-plans.md
  .gemini/skills/git-workflow.md
  .gemini/skills/github-actions.md
  .gemini/skills/spec-kit.md
  .gemini/skills/systematic-debugging.md
  .gemini/skills/test-driven-development.md
  .gemini/skills/testing-vitest.md
  .gemini/skills/ts-monorepo-dev.md
  .gemini/skills/using-git-worktrees.md
  .gemini/skills/writing-plans.md
Due: oxfmt --no-error-on-unmatched-pattern

Add spacing and iconography reference, typography systems reference, and writing plans documentation
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

feat: implement non-primitive type support with enums, classes, records, and tuples
  .agents/skills/find-skills/SKILL.md
  .claude/skills/find-skills
  packages/core/src/types.ts
  specs/001-non-primitive-types/checklists/requirements.md
  specs/001-non-primitive-types/spec.md
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

fix: remove unnecessary line breaks in specification documents for clarity
  specs/001-non-primitive-types/checklists/requirements.md
  specs/001-non-primitive-types/spec.md
Due: oxfmt --no-error-on-unmatched-pattern

feat: add support for non-primitive types in unacy library
  .github/agents/copilot-instructions.md
  .github/workflows/release.yml
  specs/001-non-primitive-types/contracts/type-metadata-api.md
  specs/001-non-primitive-types/data-model.md
  specs/001-non-primitive-types/plan.md
  specs/001-non-primitive-types/quickstart.md
  specs/001-non-primitive-types/research.md
  specs/001-non-primitive-types/spec.md
  specs/001-non-primitive-types/tasks.md
Due: oxfmt --no-error-on-unmatched-pattern

fix: remove unnecessary line breaks for improved readability in documentation files
  .changeset/non-primitive-types.md
  packages/core/README.md
  packages/core/demo-single-unit-register.ts
  packages/core/src/__tests__/class-units.test.ts
  packages/core/src/__tests__/enum-units.test.ts
  packages/core/src/__tests__/metadata.test.ts
  packages/core/src/__tests__/record-units.test.ts
  packages/core/src/__tests__/registry.test.ts
  packages/core/src/__tests__/tuple-units.test.ts
  packages/core/src/__tests__/types.test.ts
  packages/core/src/index.ts
  packages/core/src/registry.ts
  packages/core/src/type-inference.ts
  packages/core/src/types.ts
  packages/core/src/utils/validation.ts
  specs/001-non-primitive-types/contracts/type-metadata-api.md
  specs/001-non-primitive-types/data-model.md
  specs/001-non-primitive-types/plan.md
  specs/001-non-primitive-types/quickstart.md
  specs/001-non-primitive-types/research.md
  specs/001-non-primitive-types/tasks.md
Due: oxfmt, oxlint --fix, oxfmt --no-error-on-unmatched-pattern

ci: align CI/CD with template-ts standard
  .github/dependabot.yml
  .github/workflows/auto-approve-deps.yml
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/labels.yml
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/template-sync.yml
Due: none

chore: remove unused template-sync workflow
  .github/workflows/template-sync.md
  .github/workflows/template-sync.yml
Due: oxfmt --no-error-on-unmatched-pattern

ci: make format:check non-blocking
  .github/workflows/ci.yml
Due: none

chore: standardize git hooks and pnpm config
  package.json
Due: oxfmt --no-error-on-unmatched-pattern

chore: standardize on tsgo for type-check
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

chore: configure @changesets/changelog-github for PR-linked changelogs
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: oxfmt --no-error-on-unmatched-pattern

chore: standardize release.yml on changesets/action@v1
  .github/workflows/release.yml
Due: none

chore: simplify changeset.yml — delegate changelog to @changesets/changelog-github
  .github/workflows/changeset.yml
Due: none

Path conditions:
  oxfmt: any of: *.{ts,tsx,js,jsx}
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
  oxfmt --no-error-on-unmatched-pattern: any of: *.{json,md}
